* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
}

// -------------UTILITY classies-------------------

.fs-small {
	font-size: 0.9em;
}
.fs-big {
	font-size: 1.5em;
}

// This text needs

body {
	background: gray;
	color: wheat;
}
.container {
	margin:  1rem
}
.block {
	margin-bottom: 2rem;
	text-align: center;
}
.header {
	background-color: rgb(110, 110, 110);
	color: wheat;
	text-align: center;
	padding: 1em;
}
.heading {
	text-shadow: 0.1rem 0.1rem 0.2rem #000;
	letter-spacing: 0.1rem;
	text-align: left;
	margin-left: 10%;
	.thin{
		font-weight:lighter;
	}
}
.describe {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	background: rgba(222, 167, 59, 0.386);
	border-radius: 1rem;
	padding: 1rem;
	&__heading {
	}
	&__subheading {
	}
	&__operators{
		display: flex;
		justify-content: space-between;
		gap: 0.3em;
	}
}

/*
h2 {
	line-height: 0;
	margin: 1.1em 0 0.2em;
	padding: 0;
	text-align: center;
}
.subheading{
	margin: 1em;
}
*/

.describetext {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	&__column {
		flex-grow: 1;
		display: flex;
		gap: 0.5rem;
		flex-direction: column;
		background: rgba(124, 120, 90, 0.386);
		border-radius: 0.4rem;
		align-items: center;
		padding: 0.3rem;
	}
	&__column-ais{
		align-items: start;
	}
	&__block {
		padding: 0.5rem;
		display: flex;
		gap: 2em;
		justify-content: space-between;
	}
	&__block-mw100 {
		min-width: 100%;
	}
	label {
		align-self: center;
	}
	.input {
		align-self: center;
		font-size: 1.1em;
		background: rgb(173, 155, 125);
		border: none;
		border-radius: 0.3rem;
		box-shadow: -0.2rem -0.2rem 0.1rem -0.1rem rgb(73, 67, 54) inset;
		height: 1.5rem;
		padding: 0.5rem;
		color: rgb(108, 74, 17);
		&:active, &:focus {
		background: rgb(209, 194, 169);
			outline: none;
		}
	}
	.input-word {
		width: 10rem;
		letter-spacing: 0.1rem;
	}
	.input-number {
		width: 3.2rem;
	}
}
.text {
	color: wheat;
	text-shadow: 1px 1px 5px #000;
	letter-spacing: 0.05em;
	text-align: left;
}
.text-highlight {

	text-shadow: 0 0 0.6rem rgb(188, 170, 139);
}
.bold {
	font-weight: bold;
	letter-spacing: 0.15rem;
	font-size: 1.2em;
}
.button {
	padding: 0.4rem 1rem;
	border-radius: 5rem;
	border: none;
	box-shadow: 0 0 0.4rem black;
	color: wheat;
	text-shadow: 0 0 0.3rem #000;
	font-weight: bold;
	letter-spacing: 0.08rem;
	background-color: #a1834a;
	&:hover {
		background: #ad915c;
	}
	&:active {
	box-shadow: 0 0 0.2rem black;
	border: none;
	}
}